.container {
    margin-left: 5%;
}

.text {
    width: 80%;
}

#two {
    margin-bottom: 3%;
}

.btn {
    display: flex;
    justify-content: center;
    padding-right: 20%;
}

button {
    width: 70%;
    padding: 5px 15px 7px 12px;
    border-radius: 7px;
    background-color: rgba(255, 105, 180, 0.17);
    font-weight: 700;
    font-size: 26px;
    color: brown;
}